<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static',filename='Css/style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='/images/p.png')}}">
    <script defer type="text/javascript" src="{{url_for('static',filename='JS/script.js')}}"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="{{url_for('static',filename='images/logo1.png')}}" alt="Logo" />

                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp"> close </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/dashboard" class="active">
                    <span class="material-icons-sharp"> dashboard </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/description/{{current_user.id}}">
                    <span class="material-icons-sharp">bar_chart</span>
                    <h3>Project</h3>
                </a>
                <a href="/calendar">
                    <span class="material-symbols-outlined">
                        calendar_month
                    </span>
                    <h3>Calendar</h3>
                </a>

                <a href="/profile/{{current_user.id}}">
                    <span class="material-icons-sharp">account_circle</span>
                    <h3>Profile</h3>
                </a>

                <a href="/tasks">
                    <span class="material-icons-sharp"> add </span>
                    <h3>New task</h3>
                </a>

                <!-- <span class="material-icons-sharp" a href="/logout"> logout </span> -->
                <a href="/logout"><span class="material-icons-sharp">logout</span>
                    <h3>logout</h3>
                </a>
            </div>
        </aside>
        <main>
            <h1>Dashboard</h1>
            <div class="date">
                <p id="date"></p>
            </div>
            <br>
            <br>
            <div class="wide">
                <div class="up-form">
                    <form action="" method="POST">
                        <div>
                            <h1 class="title">Task name</h1>
                            <input class="upform-input" type="text" name="task_to_update" required>
                        </div>
                        <div>
                            <h1 class="title">Task description</h1>
                            <textarea class="upform-text-area" name="task_descriptif_to_update" id="" cols="60"
                                rows="10"></textarea>
                        </div>
                        <div>
                            <button class="upform-button">submit</button>
                        </div>
                </div>
                </form>
            </div>
        </main>
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp"> menu </span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active" id='light'> light_mode </span>
                    <span class="material-icons-sharp" id='dark'> dark_mode </span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>{{current_user.username}}</b></p>

                    </div>
                    {%if user.picture%}
                    <div class="profile-photo">
                        <img class="profile_picture_bar"
                            src='{{url_for("static",filename="/images/profile_pictures/"+user.picture)}}' alt="">
                        {%else%}
                        <span class="material-icons-sharp">account_circle</span>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>


</body>

</html>